<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="container-chess">
  <div class="chess-board">
    <canvas id="board"></canvas>
    <canvas id="pices"></canvas>
    <canvas id="info"></canvas>
  </div>
</div>
    <script src="../js/chess.ts" type="module"></script>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>
</body>
</html>