
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>clock</title>
  <style>

@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');

  </style>
</head>
<body>
  <div class="inner-screen">
    <div class="title">
      rolex
      clock
    </div>
    <div class="digital">
      <div class="hours"></div>
      <div class="minutes"></div>
      <div class="seconds"></div>
    </div>
<div class="main-clock">
  <div class="center-clock">
    <span class="houre"></span>
    <span class="minute"></span>
    <span class="second"></span>
  </div>
<div class="num" style="--deg:30deg"><span style="--deg-span:-30deg">1</span></div>
<div class="num" style="--deg:60deg"><span style="--deg-span:-60deg">2</span></div>
<div class="num" style="--deg:90deg"><span style="--deg-span:-90deg">3</span></div>
<div class="num" style="--deg:120deg"><span style="--deg-span:-120deg">4</span></div>
<div class="num" style="--deg:150deg"><span style="--deg-span:-150deg">5</span></div>
<div class="num" style="--deg:180deg"><span style="--deg-span:-180deg">6</span></div>
<div class="num" style="--deg:210deg"><span style="--deg-span:-210deg">7</span></div>
<div class="num" style="--deg:240deg"><span style="--deg-span:-240deg">8</span></div>
<div class="num" style="--deg:270deg"><span style="--deg-span:-270deg">9</span></div>
<div class="num" style="--deg:300deg"><span style="--deg-span:-300deg">10</span></div>
<div class="num" style="--deg:330deg"><span style="--deg-span:-330deg">11</span></div>
<div class="num" style="--deg:360deg"><span style="--deg-span:-360deg">12</span></div>
</div>
<div class="back" onclick="(function back(){history.go(-1)})()">&lt;</div>
  </div>
  <script src="../js/clock.ts" type="module"></script>
</body>
</html>
