<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>media</title>
</head>
<body>
<div class="container-media">
<div class="camira">
      <video controls></video>
  <canvas id="canvas">your browser dose not support canvas</canvas>
</div>
<div class="tools">
  <Button type="button" class="start">start</Button>
  <Button type="button" class="end">stop</Button>

</div>
</div>

  <script src="../js/media.ts" type="module"></script>
</body>
</html>